@font-face {
  font-family: 'eatups_icon_font';
  src:  url('fonts/eatups_icon_font.eot?1k0kfs');
  src:  url('fonts/eatups_icon_font.eot?1k0kfs#iefix') format('embedded-opentype'),
    url('fonts/eatups_icon_font.ttf?1k0kfs') format('truetype'),
    url('fonts/eatups_icon_font.woff?1k0kfs') format('woff'),
    url('fonts/eatups_icon_font.svg?1k0kfs#eatups_icon_font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eatups_icon_font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_view_card:before {
  content: "\e924";
  color: #ecece0;
}
.icon-ic_avatar_business_default:before {
  content: "\e900";
  color: #ecece0;
}
.icon-ic_camera_simplified:before {
  content: "\e901";
  color: #ecece0;
}
.icon-ic_check_circle:before {
  content: "\e902";
  color: #ecece0;
}
.icon-ic_check:before {
  content: "\e903";
  color: #ecece0;
}
.icon-ic_chevron_right:before {
  content: "\e904";
  color: #ecece0;
}
.icon-ic_chevron:before {
  content: "\e905";
  color: #ecece0;
}
.icon-ic_ChevronDown:before {
  content: "\e906";
  color: #ecece0;
}
.icon-ic_ChevronUp:before {
  content: "\e907";
  color: #ecece0;
}
.icon-ic_dairyfree:before {
  content: "\e908";
  color: #ecece0;
}
.icon-ic_eatin:before {
  content: "\e909";
  color: #ecece0;
}
.icon-ic_edit:before {
  content: "\e90a";
  color: #ecece0;
}
.icon-ic_ellipsis_vertical:before {
  content: "\e90b";
  color: #ecece0;
}
.icon-ic_fab_plus:before {
  content: "\e90c";
  color: #ecece0;
}
.icon-ic_glutenfree:before {
  content: "\e90d";
  color: #ecece0;
}
.icon-ic_hamburger:before {
  content: "\e90e";
  color: #ecece0;
}
.icon-ic_heart:before {
  content: "\e90f";
  color: #ecece0;
}
.icon-ic_info_circle:before {
  content: "\e910";
  color: #ecece0;
}
.icon-ic_info:before {
  content: "\e911";
  color: #ecece0;
}
.icon-ic_location:before {
  content: "\e912";
  color: #ecece0;
}
.icon-ic_logo_eatups:before {
  content: "\e913";
  color: #ecece0;
}
.icon-ic_map_pointer_background:before {
  content: "\e914";
  color: #ecece0;
}
.icon-ic_nutfree:before {
  content: "\e915";
  color: #ecece0;
}
.icon-ic_offer_expired:before {
  content: "\e916";
  color: #ecece0;
}
.icon-ic_offer_label_business_discount:before {
  content: "\e917";
  color: #ecece0;
}
.icon-ic_offer_label_business_eatups:before {
  content: "\e918";
  color: #ecece0;
}
.icon-ic_offer_label_gral_eatups:before {
  content: "\e919";
  color: #ecece0;
}
.icon-ic_offer_label:before {
  content: "\e91a";
  color: #ecece0;
}
.icon-ic_rating_full:before {
  content: "\e91b";
  color: #ecece0;
}
.icon-ic_rating_half:before {
  content: "\e91c";
  color: #ecece0;
}
.icon-ic_ratings_empty:before {
  content: "\e91d";
  color: #ecece0;
}
.icon-ic_shoppingcart:before {
  content: "\e91e";
  color: #ecece0;
}
.icon-ic_takeaway:before {
  content: "\e91f";
  color: #ecece0;
}
.icon-ic_trash:before {
  content: "\e920";
  color: #ecece0;
}
.icon-ic_vegetarian:before {
  content: "\e921";
  color: #ecece0;
}
.icon-ic_view_grid:before {
  content: "\e922";
  color: #ecece0;
}
.icon-ic_view_map:before {
  content: "\e923";
  color: #ecece0;
}
